:root {
    --primary-text-color: #212121;
    --title-accent-color: #2196f3;
    --button-hover-hero: #188ce8;
    --paragrapg-contacts-color: #757575;
    --hero-accent-color: #ffffff;
    --hero-background-color: #2f303a;
    --team-section-background: #f5f4fa;
    --patron-customers-color: #afb1b8;
    --background-overlay: rgba(47, 48, 58, 0.4);
    --general-margin-bottom: 94px;
    --card-set-gap: 15px;
    --common-margin-gap: 50px;
    --card-border: #eeeeee;
}